{{ define "main" }}
<section id="skills">
  <h2>{{ .Site.Params.skills_section_title }}</h2>
  <div class="skills-list">
    {{ range .Pages }}
    <!-- <div class="skill">
      <h3>{{ .Title }}</h3>
      <p><strong>Proficiency:</strong> {{ .Params.proficiency }}</p>
      <p>{{ .Params.description }}</p>
      <img
        src="https://s3.dualstack.us-east-2.amazonaws.com/pythondotorg-assets/media/community/logos/python-logo-only.png"
        width="30"
        height="40"
      />
    </div> -->
    <h1 style="margin: 0 20px 20px 0">DevOps Toolkit</h1>
    <div style="display: flex; flex-wrap: wrap">
      <ul style="list-style-type: none; padding: 0; margin: 0 20px 20px 0">
        <li>
          <strong>Programming Languages:</strong>
          <span>Python, Golang, Shell, Bash </span>
        </li>
        <li>
          <ul
            style="list-style-type: none; padding: 0; margin: 20px 20px 20px 0"
          >
            <li>
              <strong>DevOps & Cloud:</strong>
              <span
                >Docker, Jenkins, Git, Ansible, Terraform, Grafana, ELK Stack,
                AWS, Kubernetes</span
              >
            </li>
          </ul>
        </li>
        <li>
          <ul style="list-style-type: none; padding: 0; margin: 0 20px 20px 0">
            <li>
              <strong>Operating Systems:</strong
              ><span>Linux Red Hat, Ubuntu, Mint, CentOS</span>
            </li>
          </ul>
        </li>
        <li>
          <ul style="list-style-type: none; padding: 0; margin: 0 20px 20px 0">
            <li>
              <strong>DevOps Tools:</strong>
              <span
                >Maven, Jenkins, Sonar, Nexus, GitLab, Docker, Ansible, Puppet,
                Terraform (Infrastructure as Code)</span
              >
            </li>
          </ul>
        </li>
        <li>
          <ul style="list-style-type: none; padding: 0; margin: 0 20px 20px 0">
            <li>
              <strong>Virtualization:</strong>
              <span
                >Amazon Web Services (AWS), VMware vSphere, Hyper-V, Docker,
                OpenShift</span
              >
            </li>
          </ul>
        </li>
        <li>
          <ul style="list-style-type: none; padding: 0; margin: 0 20px 20px 0">
            <li>
              <strong>Continuous Integration:</strong>
              <span>GIT, GitHub, GitLab</span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
